# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Hendra\PEMROGRAMAN\Kelas Terbuka\Tutorial Java\java 05 - Organisasi Program dengan Package\program dengan IDE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
